body{
    margin: 0;
}


h1{
    font-family: 'Pacifico', cursive;
}

.orange-color{
    color:orange;
}


.flexible-container{
    display: flex;
    margin-bottom: 100px;
}

.upper_left{
    width:40%;
    padding-left:5%;
}

.upper_left img{
    width: 100%;
}

.link_button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding:10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top_banner{
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}



.box{
    box-shadow: 10px 10px 40px gray;
    padding:30px;
    margin:10px;
    text-align: justify;
}


.experience{
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}



#full{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}



#baby{
    border-left:7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}


footer p{
    text-align: center;
}