body{
    font-family: 'Yomogi', cursive;
}

h1{
    font-size: 50px;
}

.evan{
    color: orange;
}

h3{
    font-weight: bold;
}

section{
    display: block;
    width: 100%;
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}

.upper_left{
    top:0px;
    display: inline-block;
    width: 45%;
    height: 100px;
}

.upper_left img{
    display: inline-block;
    width: 100%;
    height: auto;
}



.link a{
    display: inline-block;
    text-decoration: none;
    padding:10px;
    border: 2px solid orange;
    background-image: linear-gradient(orange,tomato);
    border-radius: 20px;
}